
.welcome {
    background: url("../images/main.jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 292px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.btn-large, .btn-small {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: #1D4774;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.btn-large:hover, .btn-small:hover {
    text-decoration: underline;
}

.btn-large {
    margin-left: 35%;
}

.main-img {
    position: absolute;
    z-index: 999;
    left: 45%;
    transform: translateX(-5%);
    min-width: 210px;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
}

.subhead {
    font-family: "Quicksand", Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    text-transform: none;
}

.happening {
    text-align: center;
    width: 370px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #1C1E2D;
}

h1, h2, h3, h4, h5 {
    font-size: 30px;
}

h2, p {
    margin-bottom: 15px;
}

.formerp {
    font-family: "Quicksand", Verdana, sans-serif;
    color: #fff;
    text-transform: none;
    font-weight: normal;
    font-size: 20px;
    margin-top: -1rem;
    text-align: center;
}

.spaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.spaces img {
    max-width: 400px;
}

.space-square {
    background-color: #1C1E2D;
    text-align: center;
    padding-bottom: 25px;
}

.space-square p {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 600;
}

.left {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left img {
    max-width: 100%;
}

.left p {
    width: 349px;
    text-align: center;
    margin-top: -2rem;
}

.right {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right img {
    max-width: 100%;
}

.right p {
    width: 349px;
    text-align: center;
    margin-top: -3rem;
}

@media (min-width: 600px) {
    .welcome {
        min-height: 60vh;
    }

    .main-img {
        top: 10px;
        left: 50%;
        transform: translateX(-5%);
    }

    .formerp { 
        margin-top: -3rem;
        font-size: 30px;
        text-align: left;
    }

    .btn-large {
        font-size: 25px;
        margin-left: 30%;
    }

    h1 {
        font-size: 45px;
        text-align: left;
    }
}

@media (min-width: 1081px) {
    .welcome {
        min-height: 80vh;
    }

    .formerp { 
        font-size: 40px;
    }

    h1 {
        font-size: 60px;
    }

    h2, h3 {
        font-size: 50px;
    }

    .events {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .happening {
       background-color: transparent;
    }
    
    .happening:hover {
        background-color: #1C1E2D;
    }
    

    .spaces {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }

    .left {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
        margin-right: 30%;
        background-color: #1C1E2D;
        padding: 25px;
    }

    
    .right {
        margin-top: 40px;
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: right;
        align-items: center;
        margin-left: 30%;
        background-color: #1C1E2D;
        padding: 25px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1398px) {
    .left {
        justify-content: left;
        align-items: center;
        margin-right: 36%;
    }
    
    .right {
        justify-content: right;
        align-items: center;
        margin-left: 36%;
        margin-bottom: 30px;
    }
}

@media (min-width: 1550px) {
    .left {
        margin-right: 46%;
    }
    
    .right {
        margin-left: 46%;
    }
}