
.welcome {
    background: url("../images/main.jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 292px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.btn-large {
    margin-left: 35%;
}

.main-img {
    position: absolute;
    z-index: 999;
    left: 45%;
    transform: translateX(-5%);
    min-width: 210px;
}

.main-img p { 
    font-size: 20px;
    margin-top: -1rem;
    text-align: center;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
}

.subhead {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

.happening {
    text-align: center;
    width: 370px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.happening:hover {
    background-color: #1C1E2D;
  }

p {
    font-size: 20px;
}

h2, p {
    margin: 15px;
}

.spaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.spaces img {
    max-width: 400px;
    max-height: auto;
}

.space-square {
    background-color: #1C1E2D;
    text-align: center;
    padding-bottom: 25px;
}

.space-square p {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.left {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left img {
    max-width: 100%;
    max-height: 100%;
}

.left p {
    width: 349px;
    text-align: center;
    margin-top: -2rem;
}

.right {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right img {
    max-width: 100%;
    max-height: 100%;
}

.right p {
    width: 349px;
    text-align: center;
    margin-top: -3rem;
}

@media (min-width: 600px) {
    .welcome {
        min-height: 60vh;
    }

    .main-img {
        top: 10px;
        left: 50%;
        transform: translateX(-5%);
    }

    .main-img p { 
        margin-top: -3rem;
        font-size: 30px;
        text-align: left;
    }

    .btn-large {
        margin-left: 30%;
    }
}

@media (min-width: 1081px) {
    .welcome {
        min-height: 80vh;
    }

    .main-img p { 
        font-size: 40px;
    }

    .events {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .spaces {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }

    .left {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        background-color: #1C1E2D;
        padding: 25px;
    }

    
    .right {
        margin-top: 40px;
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        background-color: #1C1E2D;
        padding: 25px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1398px) {
    .left {
        justify-content: left;
        align-items: center;
        width: 850px;
    }
    
    .right {
        justify-content: right;
        align-items: center;
        width: 850px;
        margin-left: 36%;
        margin-bottom: 30px;
    }
}