@font-face { 
    font-family: "LeagueSpartan";
    src: url("../Fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

@font-face { 
    font-family: "Quicksand";
    src: url("../Fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "Quicksand", Verdana, sans-serif;
    color: #fff;
    background-color: #26293D;
    overflow-x: hidden;
}

header {
    background-color: #1C1E2D;
    width: 100%;
    height: 95px;
}

.logo img {
    height: auto;
    width: 259px;
}

.site_header {
    background-color: #1C1E2D;
    height: 185px;
}

.hamburger-icon, .logo {
    display: inline-flex;
}

.logo {
    padding-top: 10px;
    padding-left: 20px;
}

.active {
    text-decoration: underline;
}

nav, #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
    position: absolute;
    z-index: 1;
    margin-left: -50px;
    margin-top: -5px;
}

nav li {
    display: block;
}


nav a {
    display: block;
    padding-left: 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1C1E2D;
    width: 145px;
    line-height: 40px;
    font-size: 20px;
}

p {
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: "LeagueSpartan", Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: #1C1E2D;
}

h6 {
    font-family: "LeagueSpartan", Verdana, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

footer p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.foot-a {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    margin: 5px;
    font-size: 20px;
}

.foot-a:hover {
    text-decoration: underline;
}

.touch { 
    text-align: center;
    order: 5;
}

.touch img {
    margin: 5px 10px 5px 20px;
}

.logo-foot {
    text-align: center;
    margin-top: 30px;
}

.hours {
    order: 1;
}

.location {
    order: 2;
}

.about {
    order: 3;
}

.admission {
    order: 4;
}

.logo-foot {
    order: 6;
}

.copyright {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

@media (min-width: 666px) {
    header {
        width: 100%;
        height: 160px;
    }

    nav { 
        display: inline-block;  
    }

    .hamburger-icon {
        display: none;
    }

    nav li {
        display: inline-block;
    }

    nav a:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    .site-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 400px;
        height: auto;
    }

    nav a {
        background-color: transparent;
        width: 100%;
        line-height: 0px;
    }
}

@media (min-width: 800px) {
    .footer-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .hours {
        order: 1;
    }

    .location {
        order: 2;
    }

    .about {
        order: 3;
    }

    .admission {
        order: 4;
    }

    .logo-foot {
        order: 6;
    }

    .touch {
        order: 5;
    }
}

@media (min-width: 1050px) { 
    .site-header {
        display: flex;
        justify-content: space-between;
    }

    .logo img {
        margin-top: -20px;
    }

    .btn-large {
        font-size: 30px;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .hours {
        order: 1;
    }

    .location {
        order: 2;
    }

    .about {
        order: 3;
    }

    .admission {
        order: 4;
    }

    .logo-foot {
        order: 5;
    }

    .touch {
        order: 6;
    }
}